# Python build data
**/__pycache__
**.egg-info
target/
dist/
.pytest_cache/

# Virtual Environment Data
.venv
pyvenv.cfg

# VSCode Config
*.code-workspace


# Testing files
Testing/

# Ignores temporary directories and files.
tmp*